---
layout: layouts/base.njk
title: Blog
pagination:
  data: posts
  size: 100
  alias: post
permalink: /blog/
---
<h1>Blog</h1>
{% if posts and posts.length %}
  <ul>
    {% for p in posts %}
      <li>
        <h2><a href="/blog/{{ p.slug }}/">{{ p.title }}</a></h2>
        <p><strong>Author:</strong> {{ p.authorName }}</p>
        {% if p.categoryTitles and p.categoryTitles.length %}
        <p><strong>Categories:</strong> {{ p.categoryTitles | join(', ') }}</p>
        {% endif %}
        <div>
          {{ p.body | portableText | safe }}
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found.</p>
{% endif %}
