---
layout: layouts/base.njk
title: Post
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/blog/{{ post.slug }}/"
---
<article>
  <h1>{{ post.title }}</h1>
  <p><strong>Author:</strong> {{ post.authorName }}</p>
  {% if post.categoryTitles and post.categoryTitles.length %}
    <p><strong>Categories:</strong> {{ post.categoryTitles | join(', ') }}</p>
  {% endif %}
  <div>
    {{ post.body | portableText | safe }}
  </div>
</article>
